@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Merriweather;
}
.brand {
  font-size: 2rem;
  color: black;

  font-weight: 700;
  margin: auto;
}
.bagicon {
  padding: 5px;
}
.drawer-link {
  border: 1px solid black;
  font-size: 1.5rem;

  color: black;
  font-weight: 700;
  padding: 1rem;
}
.icon {
  height: 3rem;
  width: 3rem;
}

.nav {
  box-shadow: 0 5px 5px -6px #999;
}
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .icon {
    height: 2rem;
    width: 2rem;
  }
  .brand {
    font-size: 1rem;
  }
  .drawer-link {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
.nav-link:hover {
  color: black;
}
.drawer-link:hover {
  background-color: black;
  color: white;
}
